*.pyc
thislog.txt
thislog2.txt
tmp_reduced_thislog.txt
logs/
/debug.txt
/less
/thislogcopy.txt
.nfs*
*.swp
*__pycache__*
/experiment.py
/experiments.py
/run_*.sh
!/run_new.sh
/tb
*DS_Store
/experiments_archive.txt
/archive/
*.orig
.theia/
/Config.perception
/experiments/*
!/experiments/example.json
.vscode/
experimental_results/*